body {
  background-color: wheat;
}

h1 {
  text-align: center;
  font-family: georgia;
  font-size: 300%;
}

h2 {
  font-style: italic;
  text-align: center;
}
h3 {
  font-family: georgia
  font-size: 300%
}

h4 {
  font-style: italic;
  text-align: center;
}
p {
  font-family: georgia;
}

ul {
  font-size: 15px;
  line-height: 30px;
  font-family: georgia
}
img.resize {
  max-width:50%;
  max-height:50%;
  display: block;
  margin: 0 auto;
}
